@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&family=Montserrat:wght@300;400&family=Roboto:wght@400;700&family=Solitreo&display=swap');
html, body, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 218, 0);
    font-family: 'Josefin Sans', sans-serif;
    position: fixed;
}
.brand-title {
    width: 12%;
    height: 20%;
    margin: .5rem;
}
.navbar-links {
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links li {
    list-style: none;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li a{
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
}

.navbar-links a:hover {
    /* underline */
}

.toggle-button {
    position: absolute;
    top: .60rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border: 10px;
}

/* Header */
main {
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background-image: url(./images/darksuit.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    animation: change 20s infinite ease-in-out;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    min-height: 80%;
    gap: 5rem;
}

.container-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.oferta-img {
    height: 15rem;
}

.icon-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.icon-svg {
    height: 1rem;
}

/* Nosotros */
.nosotros {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
    text-align: center;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    padding: .7rem 0rem 7rem 0rem;
}
h3{
    font-family: 'Solitreo', cursive;
    font-size: 2rem;
}
h4{
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 218, 0);
    font-size: 4rem;
    padding: 1rem 0rem 3rem 0rem;
}
.line-one {
    width: 30%;
    margin: auto;
}

.p-container {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-around;    
    font-family: 'Roboto';
    color: rgb(130, 130, 130);
}

.p-container p{
    width: 100%;
  color: grey;
  margin: 0 .5em;
  padding: .5em;
  text-align: left;
  /* important */
  min-height: 100%;
  line-height: 1.6rem;
}
.phone-number {
    text-decoration: none;
    color: black;
}
.phone-number:hover{
    text-decoration: underline;
}

/* Servicios */
.servicios {
    background-image: url(./images/measuringtape.jpeg);
}
.servicios-container {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}

/* One Hour */
.one-hour-container{
    background-color: rgb(255, 218, 0);
    height: 70vh;
}
.one-hour {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}
.one-hour-p-container {
    display: flex;
    flex-direction: column;
}

.hour-img {
    height: 7rem;
}
/* Clientes */
.clientes {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0rem 2rem 0rem;
}
h6 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 218, 0);
    font-size: 4rem;
    padding: 2rem;
    letter-spacing: 1px;
}

iframe {
    width: 100%;
    display: flex;
    border: none;
}

.nuestra-cursive{
    font-family: 'Solitreo', cursive;
    padding: 6rem 0rem 1rem 0rem;
    text-align: center;
    font-size: 2rem;

}
.nuestra-roboto{
    font-family: 'Montserrat', sans-serif;
    padding: .3rem 0rem 2rem 0rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 00;
}


/* Footer */
footer {
    width: 100%;
    margin: 0 auto;
    padding: 2em;
}

iframe {
    width: 90%;
    margin: 0 auto;
}



/*
@keyframes change {
    0% {
        background-image: url(./images/chaqueta_atm_2.jpeg);
    }
    20% {
        background-image: url(./images/jeans.jpeg);
    }
    40% {
        background-image: url(./images/tshirt.jpeg);
    }
    60% {
        background-image: url(./images/vestidos_atm_1.jpeg);
    }
    80% {
        background-image: url(./images/taller_6.jpeg);
    }
    100% {
        background-image: url(./images/boutique_Atm_5.jpeg);
    }
}
*/


/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {

  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .toggle-button {
        display: flex;
    }
    .navbar-links{
       display: none; 
       width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }
    .navbar-links a {
        text-align: center;
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
    .line-one {
        display: none;
    }

    .p-container {
      display: flex;
      flex-direction: column;
    }
    .p-container p {
        text-align: center;
    }
    .one-hour{
        display: flex;
        flex-direction: column;
    }
  }